/* Set root font size so that 1rem = 10px */
:root {
    font-size: 62.5%;
    --light-bg-colour: #fff7ed;
    --medium-bg-colour: #fb923c;
    --medium-line-colour: #ea580c;
    --dark-line-colour: #7c2d12;
}

* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 0px;
    padding: 0px;
}

.sidebar {
    color: #fff;
    grid-row: 1 / span 2;
    display: grid;
    grid-template-rows: repeat(3, auto) 1fr;
    gap: 50px;
    background-color: var(--medium-bg-colour);
    box-shadow: var(--medium-bg-colour) 0.1px 0px 2px;
    z-index: 2;
}

.sidebar > * {
    margin-left: max(10px, 5%);
}

.sidebar-item {
    margin-bottom: max(10px, 2vh);
}

.sidebar-item > a {
    display: grid;
    grid-template-columns: minmax(10px, 10%) 1fr;
    align-items: center;
    gap: 15px;
    font-weight: bold;
    font-size: 1.5rem;
    color: inherit;
    text-decoration: none;
}

.logo {
    margin-top: max(10px, 5%);
    display: grid;
    grid-template-columns: minmax(50px, 10%) 1fr;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    padding-right: 5px;
}

.logo > img, .sidebar-item img {
    filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(79deg) brightness(111%) contrast(100%);
}

.header {
    padding: 20px;
    display: grid;
    grid-template-columns: 65% 35%;
    align-items: center;
    justify-items: start;
    gap: max(15px, 3vh);
    box-shadow: 0px 1px 5px grey;
    z-index: 1;
}

.header form {
    width: 75%;
    justify-self: center;
}

form > input[type="search"] {
    border-radius: 20px;
    width: 100%;
    height: 3rem;
    border: 1px solid var(--medium-line-colour);
    background-color: var(--light-bg-colour);
    padding: 5px;
    padding-left: 2%;
    font-size: 1.5rem;
}

form > input[type="search"]:focus {
    border: 2px solid var(--dark-line-colour);
    outline: none;
}

form {
    display: flex;
    align-items: center;
    gap: 10px;
}

form > img {
    height: 2.5rem;
}

.user-options, .creation-buttons {
    justify-self: center;
    justify-content: space-around;
    display: flex;
    width: 100%;
} 

.user-options {
    align-items: center;
    justify-content: center;
    gap: max(10px, 10%);
    font-size: 1.7rem;
    font-weight: bold;
}

.user-options > img {
    height: 2.5rem;
}

.user-options > .avatar-small {
    height: 5rem;
}

.user-bar {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    gap: max(20px, 1.5vw);
}

.user-greeting {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

#user-name {
    font-size: 2.2rem;
}

.avatar-large {
    height: 8rem;
}

.creation-buttons {
    flex-wrap: wrap;
}

.header button {
    color: #fff;
    text-align: center;
    background-color: var(--medium-bg-colour);
    border-radius: 20px;
    width: min(100px, 25%);
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    border: none;
    font-weight: bold;
    font-size: min(1.5rem, 200%)
}

.user-bar {
    margin-left: 20px;
}

.main-content {
    grid-column: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--light-bg-colour)
}

.projects, .announcements, .trending {
    padding: 10px;
}

.projects {
    grid-row: 1 / span 2;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    border: 1px solid var(--medium-line-colour);
    border-radius: 5px;
    height: 150px;
    padding: 10px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    background-color: #fff;
    box-shadow: 0.5px 1px 3px grey;

}

.card-icons {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 5px;
}

.icon {
    border: 1px solid black;
    width: 20px;
    height: 20px;
}

.news {
    padding: 10px;
}

.news-container {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0.5px 1px 3px grey;
}

.news-container > .news:first-of-type {
    padding-top: 0px;
}

.news-container > .news:not(.news:last-of-type) {
    border-bottom: 1px solid var(--dark-line-colour);
}

.card > h3 {
    margin: 0px;
}

.trending-users-container { 
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0.5px 1px 3px grey;
}

.trending-user {
    height: 50px;
}

